# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

# MCP Server
mcp/spotify-mcp-server/node_modules
mcp/spotify-mcp-server/spotify-config.json
mcp/spotify-mcp-server/build
mcp/spotify-mcp-server/dist

